<div class = "email-container" style = "width:100%; height: 100%; margin-left: 340px; float: top">
  <div>
    <div> To: {{contact.email}}</div>
  </div>
  <div>
    {{project.projectName}}
  </div>
  <div>
    {{project.permitNumber}}
  </div>
  <div>
    {{project.address}}
  </div>
  <div>
    {{project.buildingStatus}}
  </div>
  <div>
    {{project.planningStatus}}
  </div>
  <div>
    {{project.engineeringStatus}}
  </div>
  <div>
    {{project.treeStatus}}
  </div>
  <div>
    {{project.fireStatus}}
  </div>
</div>
