.app{
  height:100vh;
}
.title-container {
  width:100%;
  color: white;
  background-color: #303F9F;
  padding-right:0px;
  margin:0;
  float: top;
}
.app-title {
  color: white;
  background-color: #303F9F;
  padding-left:10px;
  margin:0;
}
.inputs-container{
  padding-left: 0px;
  padding-right: 20px;
  box-shadow: 5px 0 12px -1px #888;
  float:left;
}
.project-info-container{
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  
}
.status-select {
  width:100%;
  margin-top: 30px
}

.project-info {
  margin-top: 20px;
  margin-bottom: 20px
}

h2, h3 {
  font-family: Roboto;
  font-weight: normal;
  color: #9E9E9E;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 0.75px;
}

md-input-container {
  width:100%;
}

