
<h1 class="app-title">
  {{title}}
</h1>
<div class = "inputs-container">
    <h2>
      Email Inputs
    </h2>
    <h3>Project Information</h3>
      <div class="project-info-container">
        <md-input-container>
          <input md-input placeholder="PERMIT NUMBER" [(ngModel)] = "permitNumber">
        </md-input-container><br />
        <div class = "project-info">
          Project Name: {{project}}
        </div><br />
        <div class = "project-info">
          Address: {{address}}
        </div>
      </div>
      <h3>Permit Status</h3>
        <div class="project-info-container">
            <md-select color="primary" class="status-select" placeholder="Building Status">
              <md-option *ngFor = "let status of statuses">
                {{status}}
              </md-option>
            </md-select><br />
            <md-select class="status-select" placeholder="Planning Status">
              <md-option *ngFor = "let status of statuses">
                {{status}}
              </md-option>
            </md-select>
            <md-select class="status-select" placeholder="Enginering Status">
              <md-option *ngFor = "let status of statuses">
                {{status}}
              </md-option>
            </md-select>
            <md-select class="status-select" placeholder="Tree Status">
              <md-option *ngFor = "let status of statuses">
                {{status}}
              </md-option>
            </md-select>
            <md-select class="status-select" placeholder="Fire Status">
              <md-option *ngFor = "let status of statuses">
                {{status}}
              </md-option>
            </md-select>
        </div>
</div>
<app-notification-email [project]="project"></app-notification-email>
