.app{
  height:100vh;
  border: 0;
}
.title-container {
  text-align: center;
  width:100%;
  background-color: #303F9F;
  color:white;
  padding-right:0px;
  margin:0;
  float: top;
  z-index: 10;
  box-shadow: 0 5px 12px -1px #888;
  border:0;
}
.app-title {
  text-align:left;
  color: white;
  padding-left:10px;
  margin:0;
  font-weight: normal;
  font-size: 18px;
}
.inputs-container{
  padding-left: 0px;
  padding-right: 20px;
  box-shadow: 5px 0 12px -1px #888;
  float:left;
}
.project-info-container{
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  
}
.status-select {
  width:100%;
  margin-top: 30px
}

.project-info {
  margin-top: 20px;
  margin-bottom: 20px
}

h2, h3 {
  font-family: Roboto;
  font-weight: normal;
  color: #9E9E9E;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 0.75px;
}

md-input-container {
  width:100%;
}

.button-container{
  float:center;
  margin:30px;
}

button {
  margin:auto;
  display:block;
}