<div class = "title-container">
    <h1 class="app-title">
      {{title}}
    </h1>
</div>
<div class = "inputs-container">
      <div class="project-info-container">
        <h3 color="primary">Inputs</h3>
        <md-input-container>
          <input md-input placeholder="Contact Email" [(ngModel)] = "contact.email">
        </md-input-container><br />
        <md-input-container>
          <input md-input placeholder="Permit Number" [(ngModel)] = "project.permitNumber">
        </md-input-container><br />
        <md-input-container>
          <input md-input placeholder="Project Name" [(ngModel)] = "project.projectName">
        </md-input-container><br />
        <md-input-container>
          <input md-input placeholder="Project Address" [(ngModel)] = "project.address">
        </md-input-container><br />
      </div>
      <div class="project-info-container">
        <h3>Permit Status</h3>
          <md-select [(ngModel)] = "project.buildingStatus" color="primary" class="status-select" placeholder="Building Status">
            <md-option *ngFor = "let status of statuses" [value] = "status">
              {{status}}
            </md-option>
          </md-select>
          <md-select [(ngModel)] = "project.planningStatus" class="status-select" placeholder="Planning Status">
            <md-option *ngFor = "let status of statuses" [value] = "status">
              {{status}}
            </md-option>
          </md-select>
          <md-select [(ngModel)] = "project.engineeringStatus" class="status-select" placeholder="Enginering Status">
            <md-option *ngFor = "let status of statuses" [value] = "status">
              {{status}}
            </md-option>
          </md-select>
          <md-select [(ngModel)] = "project.treeStatus" class="status-select" placeholder="Tree Status">
            <md-option *ngFor = "let status of statuses" [value] = "status">
              {{status}}
            </md-option>
          </md-select>
          <md-select [(ngModel)] = "project.fireStatus" class="status-select" placeholder="Fire Status">
            <md-option *ngFor = "let status of statuses" [value] = "status">
              {{status}}
            </md-option>
          </md-select>
        
      </div>
</div>
<app-notification-email [project]="project" [contact]="contact"></app-notification-email>
