.inputs-container{
  padding-left: 0px;
  padding-right:20px;
  height: 100%;
  box-shadow: 5px 0 12px -1px #888;
  float:left;
  overflow-x: hidden;
  overflow-y: auto
}
.project-info-container{
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  
}
.status-select {
  width:100%;
  margin-top: 30px
}

.submission-select {
  margin-top:16px;
  margin-bottom:16px;
  width:100%;
}

.project-info {
  margin-top: 20px;
  margin-bottom: 20px
}

h2, h3 {
  font-family: Roboto;
  font-weight: normal;
  color: #9E9E9E;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 0.75px;
}

md-input-container {
  width:100%;
}

.button-container{
  float:center;
  margin:30px;
}

button {
  margin:auto;
  display:block;
}